@use '../shared/assets/styles/abstracts/mixins' as *;

.pull-requests__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:15px;
}


.pull-request {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.086);

}

.pull-request .ant-collapse {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  @include GlassEffect();
}

.pull-request .ant-collapse-item {
  margin-bottom: 2px;
  border: 1px solid #dddddd37;
  border-radius: 8px;
}

.pull-request .ant-collapse-header {
  padding: 12px 20px;
  border-bottom: 1px solid #dddddd29;
  border-radius: 8px 8px 0 0;
}

.pull-request .ant-collapse-content {
  padding: 20px;
}

.pull-request .ant-collapse-content > .commits-list {
  margin-top: 10px;
}

.pull-request .ant-collapse-content > .commits-list > li {
  margin-bottom: 10px;

}

.one-pull-request {
  color: #ffffff;}

.commits-list {
  list-style-type: none;
  padding: 0;

}

.commits-list > li {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(254, 254, 254, 0.447);

}

.commits-list > li:not(:last-child) {
  margin-bottom: 10px;
  background-color: rgba(254, 254, 254, 0.447);

}
div.ant-collapse-content.ant-collapse-content-active{
  background:transparent;
  border-color: #ffffff32;
}
ul.commits-list{
  background:transparent;

}
div.ant-collapse-item.ant-collapse-item-active{
  border-color: #ffffff19;
}
span.ant-collapse-header-text{
  color: rgb(255, 255, 255);
}
