@use '../shared/assets/styles/abstracts/mixins' as *;
.home-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 20px;
}
.loading {
  font-size: 20px;
  color: #320ca4;
}
.card-container {
  @include Flex();
  flex-wrap: wrap;
  width: 100%;
}
.title-create {
  @include Flex(column, start, left);
}
.name-status {
  @include Flex(row, right, start);
}
.reposirory-name {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.wrapper .box {
  justify-content: space-between;
  align-items: center;
}
.card-container{
  justify-content: space-between;
  align-items: right;
  flex-direction:row;
}