@use '../shared/assets/styles/abstracts/mixins' as *;
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.loading {
  font-size: 20px;
  color: #320ca4;
}
.card-container {
  @include Flex(row, left);
  flex-wrap: wrap;
  width: 100%;
}
.title-create{
  @include Flex(column, start, left);
}
.name-status{
  @include Flex(row, right, start);

}